.heading-font {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.body-font {
    font-family: Muli, Helvetica, Arial, sans-serif;
}

.alt-font {
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Muli, Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #222;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

hr {
    width: 50%;
}

.navbar-default,
.navbar-default .navbar-#content-container.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

a {
    color: #3C455C;
}

a:link,
a:visited,
a:hover,
a:active {
    /*color: #9e9e9e;*/
    text-decoration: underline;
    cursor: pointer;
}

.background-black,
.background-green,
.background-yellow,
.background-blue {
    color: #FFF;
    border-radius: 4px;
    background-image: url('./../img/seventh.svg');
    background-size: 8px;
}

.background-transparent {
    background: rgba(255, 255, 255, 0.6);
}

.background-transparent-black {
    background: rgba(0, 0, 0, 0.6);
}

.background-white {
    background-color: #9e9e9e;
}

.background-black {
    background-color: #323339;
    background-image: url('./../img/seventh.svg'), radial-gradient( circle farthest-corner at 10% 20%,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% )!important;
}

.background-green {
    /*background-color: #6CBF84;*/
    background-image: url('./../img/seventh.svg'), radial-gradient( circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, #6CBF84 90.1% )!important;
}

.background-yellow {
    /*background-color: #EFAA52;*/
    background-image: url('./../img/seventh.svg'), radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,189,2,0.8) 0%, #EFAA52 90% )!important;
}

.background-blue {
    /*background-color: #7095B0;*/
    background-image:  url('./../img/seventh.svg'), radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% )!important;
}

.background-black:hover {
    box-shadow: 0 0 8px #323339;
}

.background-green:hover {
    box-shadow: 0 0 8px #6CBF84;
}

.background-yellow:hover {
    box-shadow: 0 0 8px #EFAA52;
}

.background-blue:hover {
    box-shadow: 0 0 8px #7095B0;
}

.primary-color {
    color: #3EBC8C;
}

.primary-white {
    color: #F8F3F6;
}

.primary-complementary {
    color: #E9DCCD;
}

.primary-black {
    color: #323339;
}

.primary-night {
    color: #3C455C;
}

.spacing-20 {
    margin-left: 20px;
}


.layer-10 {
    z-index: 10;
}

.layer-50 {
    z-index: 50;
}

.layer-100 {
    z-index: 100;
}

.more-soon {
    font-weight: 700;
}

.bold-line {
    height: 2px;
    background-color: rgba(50, 51, 57, 0.6);
}

#side-bar {
    position: fixed;
    width: 192px;
    background-color: #fff;
    height: 100vh;
    border-color: rgba(34, 34, 34, .05);
    box-shadow: 1px 1px 2px #EFEFEF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding-top: 1%;
    padding-left: 4px;
    overflow-x: scroll;
    z-index: 999;
}

#side-bar::-webkit-scrollbar {
    width: 0;
}

#close,
#open {
    float: left;
    top: 0;
    border: 2px solid;
    margin: 0;
    padding: 10px;
    border-bottom-right-radius: 50%;
    display: block;
}

#open {
    display: none;
}

.side-bar-tile {
    min-width: 100%;
    height: 60px;
    margin-top: 2%;
    padding: 8%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.side-bar-tile img {
    width: 90%;
    height: 100%;
    margin-top: 2%;
    padding: 8%;
}

.side-bar-tile:hover {
    border-right: 4px solid rgba(62, 188, 140, 1);
    background-color: rgba(62, 188, 140, 0.1);
    background: -webkit-linear-gradient(to left, rgba(62, 188, 140, 0.1), #FFF);
    background: linear-gradient(to left, rgba(62, 188, 140, 0.1), #FFF);
}

.side-bar-tile img:hover {
    padding: 4% 2%;
}

.bordered-container {
    border: 1px solid;
}

.bordered-container-extra {
    border: 2px solid;
}

#content-container {
    position: fixed;
    left: 196px;
    right: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('./../img/seventh.svg'), radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
    background-size: 8px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.highlight-box {
    margin-top: 20px;
    margin-right: 40px;
    padding: 16px 18px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 4px #F9FBFB;
    overflow: hidden;
}


.tool-box {
    position: absolute;
    bottom: 4px;
    right: 16px;
    width: 32px;
    margin-right: 45px;
    font-weight: 500;
    background-color: #FFF;
    word-break: break-all;
    border-radius: 4px;
    border: 1px solid #255555;
}

.general {
    box-shadow: 0 0 4px #255555;
}

.highlight-box h1,
h2,
h3,
h4 {
    /*color: #3EBC8C;*/
    font-weight: 700;
}

.highlight-box p,
a {
    /*color: #9e9e9e;*/
    font-weight: 500;
    width: 80%;
    /*float: left;*/
}

.highlight-box a,
a:link,
a:visited,
a:hover,
a:active {
    /*color: #9e9e9e;*/
    text-decoration: underline;
    cursor: pointer;
}

.highlight-box.backend:hover {
    box-shadow: 0 0 6px #323339;
    cursor: pointer;
}

.highlight-box.frontend:hover {
    box-shadow: 0 0 6px #EFAA52;
    cursor: pointer;
}

.highlight-box.database:hover {
    box-shadow: 0 0 6px #7095B0;
    cursor: pointer;
}

.highlight-box.coding:hover {
    box-shadow: 0 0 6px #6CBF84;
    cursor: pointer;
}

.highlight-box img {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 0;
}
@media (max-width: 360px){
    .highlight-box p {
        width: 100%;
        display: block;
    }

    .highlight-box img {
        display: block;
        position: relative;
    }
}

.edit-box{
    display: none;
}

.border-btn,
.border-btn:link,
.border-btn:focus,
.border-btn:visited,
.border-btn:active {
    /*color: #3EBC8C;*/
    font-weight: 700;
    border: 2px solid #323339;
    background-color: #323339;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #E9DCCD;
    box-shadow: 0;
    outline: 0;
}

.border-btn:hover {
    color: #323339;
    box-shadow: 0;
    outline: 0;
    font-weight: 700;
    background-color: inherit;
}

.border-icon {
    float: left;
    width: 28px;
    height: 28px;
    padding: 4px;
    margin-left: 2px;
    font-weight: 700;
    font-size: 20px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.border-icon:hover {
    cursor: pointer;
}

.resume-color {
    border-color: #3EBC8C;
    color: #3EBC8C;
}

.primary-color {
    border-color: #0077B5;
    color: #0077B5;
}


.red-color {
    border-color: #DB4437;
    color: #DB4437;
}

.black-color {
    border-color: #333;
    color: #333;
}

.nav-button {
    position: fixed;
    float: left;
    z-index: 999;
}

.items-section {
    /*border: 1px solid yellow;*/
}

.item {
    padding-top: 16px;
    padding-bottom: 16px;
    /*background: #FFF;*/
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;

}

.item-header {
    border: 1px solid yellow;
}

.item-image {
    background: rgba(0, 0, 0, 0.5);
    padding: 1px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100%;

}

.item-image img {
    /*width: 100px;*/
}

#prabuddha {
    padding: 4px;
    padding-top: 24px;
    width: 120px;
}

#erp {
    padding: 4px;
    width: 100px;
}

#innotech {
    padding: 4px;
    width: 94px;
}

.items-section .item .item-title {
    padding: 8px;
    text-align: center;
}

.items-section .item .item-description {
    padding: 8px;
    padding-left: 24px;
    /*color: #9e9e9e;*/
    font-weight: 500;
}

.secondary-detail {
    display: none;
}

.heading-container {
    text-align: center;
}


.header-design {
    background: linear-gradient( 102.7deg,  rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% );
}

.header-design img {
    padding: 4px;
    background: #FFF;
    margin-top: 2px;
    border-radius: 50%;
    height: 96%;
}

.hacker-badge {
    width: 80%;
}